:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  height: 522px;
  width: 210px;
  border: 1px solid #1e1a31;
  padding: 1px;
  box-shadow:
    inset 1px 1px 0 #504d5e,
    inset -1px -1px 0 #000;
}
