body {
    background-color: #231f36;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

ability-tier {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-content: space-evenly; */
    /* margin:20px; */
}