:host {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 338px;
    height: 522px; /* 558px including the ability points rectangle */
    border-left: 2px ridge #43424d;
    border-top: 2px ridge #43424d;
    border-right: 2px groove #43424d;
    border-bottom: 2px groove #43424d;
    background-color: #1b1926;
}
