:host {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 338px;
  height: 522px; /* 558px including the ability points rectangle */
  border: 1px solid #1e1a31;
  padding: 1px;
  box-shadow:
    inset 1px 1px 0 #504d5e,
    inset -1px -1px 0 #000;
  background-color: #1b1926;
}
