:host {
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 338px;
  height: 522px; /* 558px including the ability points rectangle */
  border: 2px solid #504d5e;
  background-color: #1b1926;
}
